@font-face {
    font-weight: normal;
    font-style: normal;

    font-family: "nexa-light";
    src: url("font/nexa-light.otf") format("otf");
}

body {
    font-family: open-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    min-width: 1920px;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    font-family: nexa-light;
    font-family: unset;
    letter-spacing: 8.6px;
    margin-top: 68px;

}

nav {
    height: 100px;
    margin: 0 69px;
    border-bottom: 1px solid white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
}

.home {
    background-image: url(../img/background.jpg);
    min-height: 1080px;
}

.home a {
    color: #dddedf;
    font-size: 24px;
}

.menu {
    text-decoration: none;
    display: inline-block;
    margin-right: 34px;
    margin-left: 22px;
    margin-top: 30px;
}

.home img {
    left: 31.5%;
    position: absolute;
    top: 26%;
}

/*---about me ---*/
.about_me a,
.portfolio a {
    color: #bebebe;
    font-size: 24px;
}

.about_me nav,
.portfolio nav {
    border-bottom: 1px solid #bebebe;
}

.info {
    padding-top: 73px;
    margin: 0 163px;
}

.about_me {
    min-height: 1080px;
}

.about_me img {
    float: left;
    margin-right: 53px;
}

.text {
    text-align: left;
}

.article {
    font-size: 24px;
    min-width: 677, 84px;
    min-height: 367, 32px;
    line-height: 50px;
    text-transform: capitalize
}

/*---portfolio---*/
.portfolio h1 {
    color: #f1f1f1;
}

.portfolio {
    min-height: 1080px;
    background-image: url(../img/Background2.png);
    min-width: 1592px;
}

.photos {
    margin: 0 164px;
}

.gallery {
    padding-top: 24px;
    min-width: 1592px;
}

.row1 img:not(:last-child) {
    margin: 0;
    float: left;
    margin-right: 49px;
    width: 279px;
    height: 250px;
}

.row2 {
    margin-top: 50px;
}

.row2 img:not(:last-child) {
    margin: 0;
    float: left;
    margin-right: 49px;
    width: 279px;
    height: 250px;
}

/*---footer---*/
.sec_footer {
    min-height: 980px;
}

.sec_footer nav {
    border-bottom: 1px solid #E6E6E6;
}

.sec_footer a {
    color: #E6E6E6;
    font-size: 24px;
}

.title {
    font-size: 30px;
    margin: 0;
    margin-top: 52px;
}

.content {
    font-size: 60px;
    font-weight: 100;
    margin: 0;
    margin-top: 23px;
}

.contact {
    min-height: 477px;
    margin-top: 195px;
}

.social_btn {
    width: 57px;
    height: 57px;
    display: inline-block;
    margin: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


}

.footer_social {
    margin-top: 25px;
}

.social_btn_tw {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/twitter.png);
}


.social_btn_fb {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/facebook.png);
}


.social_btn_inst {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Instagram.png);
}


/*-footer-*/
footer {
    min-height: 100px;
    border-top: 1px solid #E6E6E6;
    margin: 0 67px;
    text-align: center;
}

footer p {
    font-weight: 100;
    font-size: 18px;
    color: #BEBEBE;
}
