@font-face {
    font-weight: normal;
    font-style: normal;

    font-family: "nexa-light";
    src: url("font/nexa-light.otf") format("otf");
}

body {
    font-family: open-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    min-width: 768px;
    max-width: 1920px;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    font-family: nexa-light;
    font-family: unset;
    letter-spacing: 8.6px;
    margin-top: 68px;

}

nav {
    height: 100px;
    margin: 0 69px;
    border-bottom: 1px solid white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
}

.home {
    background-image: url(../img/background.jpg);
    min-height: 1080px;
}

.home a {
    color: #dddedf;
    font-size: 24px;
}

.menu {
    text-decoration: none;
    display: inline-block;
    margin-right: 34px;
    margin-left: 22px;
    margin-top: 30px;
}

.home img {
    left: 31.5%;
    position: absolute;
    top: 41%;
}

/*---about me ---*/
.about_me a,
.portfolio a {
    color: #bebebe;
    font-size: 24px;
}

.about_me nav,
.portfolio nav {
    border-bottom: 1px solid #bebebe;
}

.info {
    padding-top: 73px;
    margin: 0 163px;
}

.about_me {
    min-height: 1080px;
}

.about_me img {
    float: left;
}

/*---portfolio---*/
.portfolio h1 {
    color: #f1f1f1;
}

.portfolio {
    min-height: 1080px;
    background-image: url(../img/Background2.png);
    min-width: 1592px;
}

.photos {
    margin: 0 164px;
}

.gallery {
    padding-top: 24px;
}

.row1 img:not(:last-child) {
    margin: 0;
    float: left;
    margin-right: 49px;
}

.row2 {
    margin-top: 50px;
}

.row2 img:not(:last-child) {
    margin: 0;
    float: left;
    margin-right: 49px;
}
